/********************************************/
/* START styling contextually active region */
/********************************************/
/* line 49, ../scss/site_admin.scss */
div.contextual-links-region-active {
  outline-color: #b9bfbe !important;
  background-color: #f6f6f6 !important; }

/********************************************/
/* CEASE styling contextually active region */
/********************************************/
/* line 58, ../scss/site_admin.scss */
a.contextual-links-trigger {
  height: 36px !important;
  width: 36px !important;
  background-image: url(../images/contextual-links.png) !important;
  background-position: 0px 0px !important;
  font-size: 0px !important; }
  /* line 64, ../scss/site_admin.scss */
  a.contextual-links-trigger:hover {
    background-position: 0px -36px !important; }
  /* line 68, ../scss/site_admin.scss */
  a.contextual-links-trigger:active {
    background-position: 0px -72px !important; }

/* line 73, ../scss/site_admin.scss */
div.contextual-links-wrapper {
  z-index: 99999 !important; }
  /* line 75, ../scss/site_admin.scss */
  div.contextual-links-wrapper ul.contextual-links {
    position: absolute !important;
    top: 35px !important;
    border: 1px solid #dadada !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    padding: 8px 11px 8px 11px !important; }
    /* line 81, ../scss/site_admin.scss */
    div.contextual-links-wrapper ul.contextual-links li {
      width: 100%  !important;
      line-height: 12px !important;
      display: block !important;
      margin: 0 !important;
      padding: 3px 0 3px 0 !important; }
      /* line 87, ../scss/site_admin.scss */
      div.contextual-links-wrapper ul.contextual-links li a {
        margin: 0 !important;
        display: block !important;
        border: solid 1px #dadada !important;
        padding-left: 0.6em !important;
        background: #fff !important;
        color: #333 !important;
        text-decoration: none !important;
        font-family: Open Sans,Helvetica,sans-serif !important;
        font-size: 20px !important;
        font-weight: 300 !important;
        text-shadow: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        border-radius: 0px !important;
        padding: 8px !important; }
        /* line 30, ../scss/site_admin.scss */
        div.contextual-links-wrapper ul.contextual-links li a:hover {
          background-color: #0074bd !important;
          color: #fff !important; }

/* line 98, ../scss/site_admin.scss */
div.contextual-links-active a.contextual-links-trigger {
  border-width: 1px !important;
  border-color: #dadada !important;
  height: 36px !important;
  width: 40px !important;
  background-position: 4px -36px !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }

/************************************/
/* CEASE styling 'Editable' regions */
/************************************/
