/* line 4, ../scss/styles.scss */
#site_installer-welcome-form input {
  margin-top: 12px; }

/* line 9, ../scss/styles.scss */
#logo {
  margin-bottom: 0 !important; }

/* line 13, ../scss/styles.scss */
#page {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: 100% 90%; }

/* line 19, ../scss/styles.scss */
.protective-marking {
  color: #bf0000; }
