// IMPORTS
// Rounded block corners etc.
@import "compass";

// Variables
$ix_edit_color: #dadada;
$ix_edit_color_hover: #0074BD;
$ix_edit_color_muted: #8bc7db;
$ix_contextual_highlight: #b9bfbe;
$unpublished_color_background: none;
$unpublished_color_border: #949494;
$unpublished_color_text: #949494;

// Mixins

@mixin rounded_corner_killer {
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
}

@mixin ix_buttons_style {
  border : solid 1px $ix_edit_color !important;
  padding-left: 0.6em !important;
  background: #fff !important;
  @include text_labels;
  text-shadow: none !important;
  @include box-shadow(none);
  &:hover {
      background-color: $ix_edit_color_hover !important;
      color: #fff !important;
  }
  @include rounded_corner_killer;
}

@mixin text_labels { // To match the Adminimal theme
  color: #333 !important;
  text-decoration: none !important;
  font-family: Open Sans,Helvetica,sans-serif !important;
  font-size: 20px !important;
  font-weight: 300 !important;
}

/********************************************/
/* START styling contextually active region */
/********************************************/

div.contextual-links-region-active {
  outline-color: $ix_contextual_highlight !important;
  background-color: #f6f6f6 !important;
}

/********************************************/
/* CEASE styling contextually active region */
/********************************************/

a.contextual-links-trigger {
  height: 36px !important;
  width: 36px !important;
  background-image: url(../images/contextual-links.png) !important;
  background-position: 0px 0px !important;
  font-size: 0px !important; // Be sure to hide the link text
  &:hover {
    background-position: 0px -36px !important;
  }
  
  &:active {
  background-position: 0px -72px !important;
  }
}

div.contextual-links-wrapper {
  z-index: 99999 !important;
  ul.contextual-links {
    position: absolute !important;
    top:35px !important;
    border: 1px solid $ix_edit_color !important;
    @include border-radius(0px);
    padding: 8px 11px 8px 11px !important;
    li {
      width: 100%  !important;
      line-height: 12px !important;
      display: block !important;
      margin: 0 !important;
      padding: 3px 0 3px 0 !important;
      a {
        margin: 0 !important;
        display: block !important;
        @include ix_buttons_style;
        padding: 8px !important;
      }
    }
  }
}

div.contextual-links-active {
  a.contextual-links-trigger {
    border-width : 1px !important;
    border-color: $ix_edit_color !important;
    height: 36px !important;
    width: 40px !important;
    background-position: 4px -36px !important;
    @include border-radius(0px);
  }
}

/************************************/
/* CEASE styling 'Editable' regions */
/************************************/