/**
 * Tasks view.
 */
.view-tasks .view-content {
    float: left;
    width: 30%;
}

.view-tasks .view-footer {
    float: right;
    width: 65%;
}

.view-tasks .contextual-links-wrapper {
    display: none;
}

.node-task .field-name-field-project,
.node-task .field-name-field-status,
.node-task .field-name-field-context,
.node-task .field-name-field-deadline,
.node-task .field-name-field-points {
    float: left;
    width: 50%;
}

.node-task .field-name-body {
    clear: both;
    padding: 20px 0 20px 0;
}
