$protective_marking: #bf0000;

#site_installer-welcome-form {
  input {
    margin-top: 12px;
  }
}

#logo {
  margin-bottom: 0!important;
}

#page {
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: 100% 90%;
}

.protective-marking {
  color: $protective_marking;
}