$site_admin_title_labels: #b9bfbe;
$site_admin_text_labels: #b9bfbe;
$site_admin_header_colour: #000;
$site_admin_highlight_border: #aa1111;
$site_admin_highlight_background: #aa1111;

// Imports
@import "compass";

html {
  margin-top: 0 !important;
}

body {
  color: #000;
  background: #fff;
  font:normal 12px/1.538em Open Sans, "Segoe UI", "Helvetica", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-weight: 300;
  margin: 10px 0;
}

h1 {
  font-size: 20px;
}

#branding h1.page-title {
font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 13px;
}

h5,h6 {
  font-size: 12px;
}

p {
  margin: 1em 0;
}

dl {
  margin: 0 0 20px;
}

ul.primary li a:link, ul.primary li a.active, ul.primary li a:active, ul.primary li a:visited, ul.primary li a:hover, ul.primary li.active a {
font-size: 14px;
}

ul.action-links a {
font-size: 16px;
}

fieldset legend {
font-size: 14px;
}

.form-item label, .exposed-filters .form-item label {
font-size: 14px;
}

table th {
font-size: 14px;
}

table.features div.feature strong {
font-size: 12px;
}

#page-title {
  background: #fff;
}

.views-exposed-form {
  .views-exposed-widget {
   input.form-submit {
      margin-top: 24px;
      text-transform: uppercase;
      font-size: 28px;
    }
  }
}

.views-exposed-widgets {
  label {
    padding-left: 0px;
  }
}

/***********************/
/* ADMINISTRATION MENU */
/***********************/
body.adminimal-menu div#admin-menu {
  background: none repeat scroll 0 0 $site_admin_header_colour;
}

.field-name-field-firstname {
  float: left;
  padding-right: 16px;
}

/*************************/
/* GENERAL ADMIN SCREENS */
/*************************/
#branding {
  padding: 20px 0px 0px 8px;
  h1.page-title {
    color: $site_admin_title_labels;
  }
}

div.breadcrumb a {
  color: $site_admin_text_labels;
}

/**********************************/
/* USER ACCOUNT PAGE EDIT (START) */
/**********************************/
form#commerce-cc-customer-edit-form {
  
#edit-mail {
max-width: 256px;
}

#edit-field-profile-picture {
  input.form-file {
    max-width: 190px;
  }
}
  
.description {
display:none;
}

#edit-field-profile-picture {
float:right;
}

  .form-item-status {
    display:inline-block;
    label {
      display: none;
    }
    #edit-status {
      label {
        display:inline;
      }
    }
    form-type-radio {
      display: inline-block;
      float:left;
    }
  }
  
  .form-item-roles-change {
    display: inline-block;
    float:left;
        label {
      display: none;
    }
    #edit-roles-change {
      label {
        display:inline;
      }
    }

    .form-type-checkbox {
      display: inline-block;
      min-width: 160px;
    }
    
  }
  
  #edit-field-firstname {
    clear:left;
float:left;
    input {
      width: 230px;
    }
  }
  
  #edit-field-lastname {
    display:inline;
    float:left;
        input {
      width: 230px;
    }
  }
  
  .form-item-notify {
    margin-top: 16px;
    font-weight: bold;
  }
}
/********************************/
/* USER ACCOUNT PAGE EDIT (END) */
/********************************/

/**********************************/
/* USER ACCOUNT PAGE VIEW (START) */
/**********************************/

#commerce-cc-order-edit-form {

  .commerce-cc-order-account {
  min-width: 400px;
  float:left;

    .views-field-field-profile-picture {
      float: left;
      padding-right: 12px;
    }
    
    .views-field-nothing {
      padding-top: 6px;
    }
    
    .views-label-mail {
      float:left;
      margin:0;
      padding:0;
      a {
        float:left;
      }
    }
  }
    .commerce-cc-order-view-account {
    float:right;
  }

  
 tr.component-type-commerce-price-formatted-amount {
    font-weight: bold;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}  
  
}

/********************************/
/* USER ACCOUNT PAGE VIEW (END) */
/********************************/


  
  fieldset#edit-order-details {
  
    table th {
     min-width: 72px;
     font-size: 12px;
    }

    .view-commerce-cc-order-details {
      float:left;
      width: 78%
    }
    
    #edit-wrapper--2 {
      float: right;
      width: 22%;
      overflow-y: scroll;
      height: 156px;
    }
    
  }

  #commerce-cc-order-edit-form {
    fieldset.group-order-advanced {
      display:none;
    }
  }
  
/******************************/
/* Commerce CC Search (START) */
/******************************/

.views-exposed-form .views-exposed-widget input.form-submit {
margin-top: 34px;
text-transform: capitalize;
font-size: 14px;
}

/****************************/
/* Commerce CC Search (END) */
/****************************/

div.field-name-field-profile-picture {
  float:right;
  span, .description {
    display: none;
  }
}

fieldset#form-actions {
  input.form-submit {
display:block;
  width: 100%;
  }
}

#block-commerce-cc-create-customer {
float:left;
  }

#views-exposed-form-commerce-cc-search-orders-page {
  float:right;
  
  .views-exposed-form .views-exposed-widget {
    padding: 0;
  }

  label {
  display:none;
  }

  #edit-submit-commerce-cc-search-orders {
  margin:0;
  }

  input#edit-submit {
  display:block;
  }
}

#commerce-cc-order-edit-form {
  #order-actions-container {
    input {
      width: 100%;
    }
  }
}

#block-system-main {
padding-top: 12px;
  .view {
    
  .view-content {
      a {
        display:block;
      }
    }
    fieldset {
      a {
        display: inline;
      }
    }
  }
}


.view-customers-list {
  th.views-field-field-profile-picture {
width: 36px;
  }
}

#edit-field-gift-message, #edit-field-fulfillment-notes, #edit-field-delivery-message {
  width: 32%;
  float:left;
}

#edit-field-gift-message {
  margin-left: 3%
}

fieldset.group-order-advanced {
clear: left;
}

li.horizontal-tab-button {
  padding: 9px 9px 1px 0px;
  a {
    padding: 5px 8px 5px 8px;
  }
}

.region-content {
  max-width: 960px;
  margin: 0 auto;
}

input.form-submit, a.button, div.exposed-filters input#edit-submit {
  margin-right: 0;
}

a.button {
  display:block;
}

#edit-account-info {
  a.button {
    display:inline;
  }
}

:focus {
outline:none;
}

#order-actions-container {
margin-top: 28px;
}

.views-table  {
margin-top: 24px;
}

#profile-manager-commerce-customer-billing {
  select {
    width: 100%;    
    max-width: 432px;
  }
}

#edit-profiles-shipping-commerce-customer-shipping {
  select {
    width: 100%;
    max-width: 432px;
  }
}

div.field-name-field-relationships {
  display:none;
}