/* line 10, ../scss/styles.scss */
html {
  margin-top: 0 !important;
}

/* line 14, ../scss/styles.scss */
body {
  color: #000;
  background: #fff;
  font: normal 12px/1.538em Open Sans, "Segoe UI", "Helvetica", sans-serif;
}

/* line 20, ../scss/styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-weight: 300;
  margin: 10px 0;
}

/* line 26, ../scss/styles.scss */
h1 {
  font-size: 20px;
}

/* line 30, ../scss/styles.scss */
#branding h1.page-title {
  font-size: 24px;
}

/* line 34, ../scss/styles.scss */
h2 {
  font-size: 18px;
}

/* line 38, ../scss/styles.scss */
h3 {
  font-size: 15px;
}

/* line 42, ../scss/styles.scss */
h4 {
  font-size: 13px;
}

/* line 46, ../scss/styles.scss */
h5, h6 {
  font-size: 12px;
}

/* line 50, ../scss/styles.scss */
p {
  margin: 1em 0;
}

/* line 54, ../scss/styles.scss */
dl {
  margin: 0 0 20px;
}

/* line 58, ../scss/styles.scss */
ul.primary li a:link, ul.primary li a.active, ul.primary li a:active, ul.primary li a:visited, ul.primary li a:hover, ul.primary li.active a {
  font-size: 14px;
}

/* line 62, ../scss/styles.scss */
ul.action-links a {
  font-size: 16px;
}

/* line 66, ../scss/styles.scss */
fieldset legend {
  font-size: 14px;
}

/* line 70, ../scss/styles.scss */
.form-item label, .exposed-filters .form-item label {
  font-size: 14px;
}

/* line 74, ../scss/styles.scss */
table th {
  font-size: 14px;
}

/* line 78, ../scss/styles.scss */
table.features div.feature strong {
  font-size: 12px;
}

/* line 82, ../scss/styles.scss */
#page-title {
  background: #fff;
}

/* line 88, ../scss/styles.scss */
.views-exposed-form .views-exposed-widget input.form-submit {
  margin-top: 24px;
  text-transform: uppercase;
  font-size: 28px;
}

/* line 97, ../scss/styles.scss */
.views-exposed-widgets label {
  padding-left: 0px;
}

/***********************/
/* ADMINISTRATION MENU */
/***********************/
/* line 105, ../scss/styles.scss */
body.adminimal-menu div#admin-menu {
  background: none repeat scroll 0 0 black;
}

/* line 109, ../scss/styles.scss */
.field-name-field-firstname {
  float: left;
  padding-right: 16px;
}

/*************************/
/* GENERAL ADMIN SCREENS */
/*************************/
/* line 117, ../scss/styles.scss */
#branding {
  padding: 20px 0px 0px 8px;
}
/* line 119, ../scss/styles.scss */
#branding h1.page-title {
  color: #b9bfbe;
}

/* line 124, ../scss/styles.scss */
div.breadcrumb a {
  color: #b9bfbe;
}

/**********************************/
/* USER ACCOUNT PAGE EDIT (START) */
/**********************************/
/* line 133, ../scss/styles.scss */
form#commerce-cc-customer-edit-form #edit-mail {
  max-width: 256px;
}
/* line 138, ../scss/styles.scss */
form#commerce-cc-customer-edit-form #edit-field-profile-picture input.form-file {
  max-width: 190px;
}
/* line 143, ../scss/styles.scss */
form#commerce-cc-customer-edit-form .description {
  display: none;
}
/* line 147, ../scss/styles.scss */
form#commerce-cc-customer-edit-form #edit-field-profile-picture {
  float: right;
}
/* line 151, ../scss/styles.scss */
form#commerce-cc-customer-edit-form .form-item-status {
  display: inline-block;
}
/* line 153, ../scss/styles.scss */
form#commerce-cc-customer-edit-form .form-item-status label {
  display: none;
}
/* line 157, ../scss/styles.scss */
form#commerce-cc-customer-edit-form .form-item-status #edit-status label {
  display: inline;
}
/* line 161, ../scss/styles.scss */
form#commerce-cc-customer-edit-form .form-item-status form-type-radio {
  display: inline-block;
  float: left;
}
/* line 167, ../scss/styles.scss */
form#commerce-cc-customer-edit-form .form-item-roles-change {
  display: inline-block;
  float: left;
}
/* line 170, ../scss/styles.scss */
form#commerce-cc-customer-edit-form .form-item-roles-change label {
  display: none;
}
/* line 174, ../scss/styles.scss */
form#commerce-cc-customer-edit-form .form-item-roles-change #edit-roles-change label {
  display: inline;
}
/* line 179, ../scss/styles.scss */
form#commerce-cc-customer-edit-form .form-item-roles-change .form-type-checkbox {
  display: inline-block;
  min-width: 160px;
}
/* line 186, ../scss/styles.scss */
form#commerce-cc-customer-edit-form #edit-field-firstname {
  clear: left;
  float: left;
}
/* line 189, ../scss/styles.scss */
form#commerce-cc-customer-edit-form #edit-field-firstname input {
  width: 230px;
}
/* line 194, ../scss/styles.scss */
form#commerce-cc-customer-edit-form #edit-field-lastname {
  display: inline;
  float: left;
}
/* line 197, ../scss/styles.scss */
form#commerce-cc-customer-edit-form #edit-field-lastname input {
  width: 230px;
}
/* line 202, ../scss/styles.scss */
form#commerce-cc-customer-edit-form .form-item-notify {
  margin-top: 16px;
  font-weight: bold;
}

/********************************/
/* USER ACCOUNT PAGE EDIT (END) */
/********************************/
/**********************************/
/* USER ACCOUNT PAGE VIEW (START) */
/**********************************/
/* line 217, ../scss/styles.scss */
#commerce-cc-order-edit-form .commerce-cc-order-account {
  min-width: 400px;
  float: left;
}
/* line 221, ../scss/styles.scss */
#commerce-cc-order-edit-form .commerce-cc-order-account .views-field-field-profile-picture {
  float: left;
  padding-right: 12px;
}
/* line 226, ../scss/styles.scss */
#commerce-cc-order-edit-form .commerce-cc-order-account .views-field-nothing {
  padding-top: 6px;
}
/* line 230, ../scss/styles.scss */
#commerce-cc-order-edit-form .commerce-cc-order-account .views-label-mail {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 234, ../scss/styles.scss */
#commerce-cc-order-edit-form .commerce-cc-order-account .views-label-mail a {
  float: left;
}
/* line 239, ../scss/styles.scss */
#commerce-cc-order-edit-form .commerce-cc-order-view-account {
  float: right;
}
/* line 244, ../scss/styles.scss */
#commerce-cc-order-edit-form tr.component-type-commerce-price-formatted-amount {
  font-weight: bold;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/********************************/
/* USER ACCOUNT PAGE VIEW (END) */
/********************************/
/* line 260, ../scss/styles.scss */
fieldset#edit-order-details table th {
  min-width: 72px;
  font-size: 12px;
}
/* line 265, ../scss/styles.scss */
fieldset#edit-order-details .view-commerce-cc-order-details {
  float: left;
  width: 78%;
}
/* line 270, ../scss/styles.scss */
fieldset#edit-order-details #edit-wrapper--2 {
  float: right;
  width: 22%;
  overflow-y: scroll;
  height: 156px;
}

/* line 280, ../scss/styles.scss */
#commerce-cc-order-edit-form fieldset.group-order-advanced {
  display: none;
}

/******************************/
/* Commerce CC Search (START) */
/******************************/
/* line 289, ../scss/styles.scss */
.views-exposed-form .views-exposed-widget input.form-submit {
  margin-top: 34px;
  text-transform: capitalize;
  font-size: 14px;
}

/****************************/
/* Commerce CC Search (END) */
/****************************/
/* line 299, ../scss/styles.scss */
div.field-name-field-profile-picture {
  float: right;
}
/* line 301, ../scss/styles.scss */
div.field-name-field-profile-picture span, div.field-name-field-profile-picture .description {
  display: none;
}

/* line 307, ../scss/styles.scss */
fieldset#form-actions input.form-submit {
  display: block;
  width: 100%;
}

/* line 313, ../scss/styles.scss */
#block-commerce-cc-create-customer {
  float: left;
}

/* line 317, ../scss/styles.scss */
#views-exposed-form-commerce-cc-search-orders-page {
  float: right;
}
/* line 320, ../scss/styles.scss */
#views-exposed-form-commerce-cc-search-orders-page .views-exposed-form .views-exposed-widget {
  padding: 0;
}
/* line 324, ../scss/styles.scss */
#views-exposed-form-commerce-cc-search-orders-page label {
  display: none;
}
/* line 328, ../scss/styles.scss */
#views-exposed-form-commerce-cc-search-orders-page #edit-submit-commerce-cc-search-orders {
  margin: 0;
}
/* line 332, ../scss/styles.scss */
#views-exposed-form-commerce-cc-search-orders-page input#edit-submit {
  display: block;
}

/* line 339, ../scss/styles.scss */
#commerce-cc-order-edit-form #order-actions-container input {
  width: 100%;
}

/* line 345, ../scss/styles.scss */
#block-system-main {
  padding-top: 12px;
}
/* line 350, ../scss/styles.scss */
#block-system-main .view .view-content a {
  display: block;
}
/* line 355, ../scss/styles.scss */
#block-system-main .view fieldset a {
  display: inline;
}

/* line 364, ../scss/styles.scss */
.view-customers-list th.views-field-field-profile-picture {
  width: 36px;
}

/* line 369, ../scss/styles.scss */
#edit-field-gift-message, #edit-field-fulfillment-notes, #edit-field-delivery-message {
  width: 32%;
  float: left;
}

/* line 374, ../scss/styles.scss */
#edit-field-gift-message {
  margin-left: 3%;
}

/* line 378, ../scss/styles.scss */
fieldset.group-order-advanced {
  clear: left;
}

/* line 382, ../scss/styles.scss */
li.horizontal-tab-button {
  padding: 9px 9px 1px 0px;
}
/* line 384, ../scss/styles.scss */
li.horizontal-tab-button a {
  padding: 5px 8px 5px 8px;
}

/* line 389, ../scss/styles.scss */
.region-content {
  max-width: 960px;
  margin: 0 auto;
}

/* line 394, ../scss/styles.scss */
input.form-submit, a.button, div.exposed-filters input#edit-submit {
  margin-right: 0;
}

/* line 398, ../scss/styles.scss */
a.button {
  display: block;
}

/* line 403, ../scss/styles.scss */
#edit-account-info a.button {
  display: inline;
}

/* line 408, ../scss/styles.scss */
:focus {
  outline: none;
}

/* line 412, ../scss/styles.scss */
#order-actions-container {
  margin-top: 28px;
}

/* line 416, ../scss/styles.scss */
.views-table {
  margin-top: 24px;
}

/* line 421, ../scss/styles.scss */
#profile-manager-commerce-customer-billing select {
  width: 100%;
  max-width: 432px;
}

/* line 428, ../scss/styles.scss */
#edit-profiles-shipping-commerce-customer-shipping select {
  width: 100%;
  max-width: 432px;
}

/* line 434, ../scss/styles.scss */
div.field-name-field-relationships {
  display: none;
}
